<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quickmealswiki"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="9" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.quickmealswiki.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:label="@string/fridge" 
            android:screenOrientation="portrait" 
            android:name=".Fridge"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity 
            android:label="@string/select_ingredients" 
            android:screenOrientation="portrait" 
            android:name=".SelectIngredients"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity 
            android:label="@string/view_food" 
            android:screenOrientation="portrait" 
            android:name=".ViewFood"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity 
            android:label="@string/favorites" 
            android:screenOrientation="portrait" 
            android:name=".Favorites"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>

</manifest>
